{% extends 'simple.html' %}

{% block body %}

<div class="my_view_content">
    <div class="page-header">
        <h1>Regulations of the Festival</h1>
    </div>
    <div class="well">
        <h3>The 2nd intercity movie-making marathon will take place on the <ins>24th-28th</ins> <ins>of May 2012</ins> in 6 Russian cities:</h3>
        <br>
        <ul>
            <li><strong>St-Petersburg</strong></li>
            <li><strong>Moscow</strong></li>
            <li><strong>Kazan</strong></li>
            <li><strong>Nizhny Novgorod</strong></li>
            <li><strong>Yekaterinburg</strong></li>
            <li><strong>Perm</strong></li>
        </ul>
    </div>
    <div>
        <p >In opposition to the so-called mass culture creative persons always strive for individuality, wishing to originate their own, to express something that moves them personally and modern technologies and their availability give full play to this self-expression, and  in case of our festival   ̶  through cine images.</p>

        <p>A competitive nature of the festival is tremendous drive to searching for new ideas and unordinary solutions, a specified theme is not to limit, but to awake imagination. Temporal conditions make teams fully fall into their project, concentrate themselves on their task and pass at breakneck speed all the stages of the movie-making process – from the idea to the finished film. Besides, each participant has a possibility to compare his work with the other and realize his
        strengths and weaknesses, what is of vital importance for every artist.</p>
        <div class="alert alert-success">
            <p><strong>Such format of the festival let not only movie-makers, but also specialists of other creative professions participate in the projects. Musicians, photographs, make-up artists, designers etc. are warmly welcome!</strong></p>
        </div>
    </div>
</div>
{% endblock %}

