<!doctype html>
{% load localeurl_tags %}
{% load locale_url from localeurl_future %}
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title></title>
  <meta name="description" content="">

  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="{{STATIC_URL}}css/style2.css">

</head>
<body>

  <header>
  </header>

  <div id="cont">
    <!--<h3 class="h5bp">
      CSS-Tricks
  </h3>--> 
  <div id="page-wrap">
        <img src="{{STATIC_URL}}images/intro-eng.jpg" alt="">
           <p>KinoWeekend is a non-commercial art festival under time, technical and theme conditions. The main goal is to make up a script according to the given task, then shoot, cut and dub a short film within 72 hours! All the conditions (theme/ object/ film genre) will be announced in the first festival day and the participating works will be assessed by the professional jury and ordinary spectators.

Festival participation is FREE OF CHARGE.</p>
    </div>
    </div>

    <div id="menu">
        <h1><a href="{%url home%}"><b>Kino</b>Weekend</a></h1>
		<div>
			<ul class="large">
                <li class="left"><a href="{% locale_url "ru" "news.views.index" %}">Russian</a></li>
                <li><a href="{% locale_url "en" "news.views.index" %}">English</a></li>
			</ul>
		</div>
	</div>

  <div role="main">

  </div>
  <footer>

  </footer>

</body>
</html>
