<!doctype html>
{% load localeurl_tags %}
{% load locale_url from localeurl_future %}
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title></title>
  <meta name="description" content="">
  <meta name="author" content="Ilya Bezrukov">
  <meta name="google-site-verification" content="1phSA9JRapQzNg_uqVjcC8HaAoHKuyGOstaMIqDr-RE" />

  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="{{STATIC_URL}}css/style2.css">

  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-30499954-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
</head>
<body>

  <header>
  </header>


    <div id="menu">
        <h1><a href="{%url home%}"><b>Kino</b>Weekend</a></h1>
		<div>
			<ul class="large">
                <li class="left"><a href="{% locale_url "ru" "home.views.home" %}">Russian</a></li>
                <li><a href="{% locale_url "en" "home.views.home" %}">English</a></li>
			</ul>
		</div>
	</div>

  <div role="main">

  </div>
  <footer>

  </footer>

</body>
</html>
