{% extends 'layouts/simple.html' %}


{% block navbar %}
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Kinoweekend</a>
          <div class="nav-collapse">
            <ul class="nav">
                <!--<li class="{% if active_tab == 'home' %} active{% endif %}"><a href="#">Home</a></li>-->
              <li id="home-link"><a href="{% url home %}">Home</a></li>
              <li class="{% if active_tab == 'news' %} active{% endif %}"><a href="#">News</a></li>
              <li><a href="#">History</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
              <li><a href="#contact">Forum</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
{% endblock %}
