{% extends 'layouts/simple.html' %}


{% block hero-unit %}
{% endblock %}

{% block body %}
    <div class="body">
        {% if post %}
            <h3>{{ post.title }}</h3>
            <p>{{ post.publish_at}}</p>
            <br>
            <p>{{ post.body|safe }}</p>
        {% endif %}

            <ul class="pager">
        {% with post.get_previous_by_publish_at as prev %}
            {% if prev and prev.is_visible %}
              <li class="previous">
                  <a href="{{ prev.get_absolute_url }}" title="{{ prev }}" >&larr; Previous</a>
              </li>
            {% endif %}
        {% endwith %}
              <li>
                <a href="{% url news %}">Back to news list</a>
              </li>
        {% with post.get_next_by_publish_at as next %}
            {% if next and next.is_visible %}
                <li class="next">
                  <a href="{{ next.get_absolute_url }}" title="{{ next }}" >&rarr; Newer</a>
                </li>
            {% endif %}
        {% endwith %}
            </ul>
    </div>
{% endblock %}

