{% load i18n %}
{% load localeurl_tags %}
{% load locale_url from localeurl_future %}
<div class="navbar">
  <div class="navbar-inner">
    <div class="container" style="width: auto;">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="/">КиноweekenD</a>
      <div class="nav-collapse">
        <ul class="nav">
            <li id="home-link"><a href="{%url home %}"><i class="icon-home icon-white"></i></a></li>
          <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans "О фестивале"%} <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="{% url home %}../regulations/">{% trans "О фестивале"%}</a></li>
              <li><a href="#">{% trans "Положение"%}</a></li>
              <li><a href="#">{% trans "Расписание"%}</a></li>
            </ul>
          </li>
          <li id="news-link"><a href="{% url news %}"><i class="i"></i>{% trans "Новости "%}</a></li>
          <li id="works-link"><a href="{% url works %}"><i class="icon-film icon-white"></i>{% trans "Стоп!Снято! "%}</a></li>
          <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans "Контакты "%} <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="#">{% trans "Контакты "%}</a></li>
              <li class="divider"></li>
              <li><a href="#">{% trans "Наша Команда "%}</a></li>
              <!--<li class="nav-header">Допoлнительная инф.</li>-->
              <li><a href="#">{% trans "Волонтерам "%}</a></li>
              <li><a href="#">{% trans "Прессе "%}</a></li>
            </ul>
          </li>
          <li id="news-link"><a href="{% url home %}"><i class="i"></i>{% trans "Форум"%}</a></li>
        </ul>
        <form class="navbar-search pull-left" action="">
            <input type="text" class="search-query span2" placeholder="Search">
        </form>
        <form class="navbar-form pull-right" id="locale_switcher" method="POST" action="{% url localeurl_change_locale %}">
            {% csrf_token %}
            <select name="locale" class="search-query form_test" onchange="$('#locale_switcher').submit()">
                {% for lang in LANGUAGES %}
                    <option value="{{ lang.0 }}" {% ifequal lang.0 LANGUAGE_CODE %}selected="selected"{% endifequal %}>{{ lang.1 }}</option>
                {% endfor %}
            </select>
            <noscript>
                <input type="submit" value="Set" />
            </noscript>
        </form>
      </div><!-- /.nav-collapse -->
    </div>
  </div><!-- /navbar-inner -->
</div><!-- /navbar -->
