<!DOCTYPE html>
{% load i18n %}
<html lang={% trans "en"%}>
  <head>
    <title>{% block title %}KinoWeekend{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Ilya Bezrukov">
    <meta name="google-site-verification" content="1phSA9JRapQzNg_uqVjcC8HaAoHKuyGOstaMIqDr-RE" />

    <!-- Le styles -->
    <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">
     {% comment %}
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
     {% endcomment %}

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="{{ STATIC_URL }}images/favicon.ico">
    <link rel="apple-touch-icon" href="{{ STATIC_URL }}images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ STATIC_URL }}images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ STATIC_URL }}images/apple-touch-icon-114x114.png">
    {% block styles %}{% endblock %}

    <!--<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>-->
    <script src="{{ STATIC_URL }}js/jquery-1.7.1.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/app.js"></script>    
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-30499954-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>

  <body>

     <header class="container">
     <div class="content">
       <div class="page-header alert alert-success pull-right ">
           <h1><strong style="color: #292929">КиноWeekend</strong> <small><em>Официальный сайт фестиваля</em></small></h1>
       </div>
     </div>
     </header>

    <div class="container">
       {% block navbar %}
           {% include "navbar.html" %}
       {% endblock %}
    </div>

    <div class="container">
       <div class="content">
          <div class="row">
              <div class="span2">
                  {% block lift_sidebar %}
                  <div class="row">
                      <div class="span2">
                        <div class="page-header alert alert-success">
                          <h3>Организатор</h3>
                        </div>
                      </div>
                  </div>

                  <div class="row">
                      <div class="span2">
                      <ul class="thumbnails">
                          <li class="span2">
                            <div  align="middle" class="thumbnail">
                              <a href="http://xn--d1aadekogaqcb.xn--p1ai/" title="Дом молодежи" target="_blank">
                                <img src="http://xn--d1aadekogaqcb.xn--p1ai/images/sampledata/icetheme/dom_molodezhi_logo_bez_teksta.png" alt="Дом молодежи" width="80%">
                              </a>
                            </div>
                          </li>
                      </ul>
                      </div>
                  </div>
                  {% endblock %}
              </div>


              <div class="span8 transbox">
                  {% block body %}
                  <p>Test</p>
                  {% endblock %}
              </div>

               <div class="span2 transbox">
                  {% block right_sidebar %}
                  {% endblock %}
               </div>
          </div>
       </div>
    </div> <!-- /container -->

    <div class="container" style="width: 100%">
       <footer class="footer">
           <p><strong>
               &copy; 2012 kinoweekend | {% trans "Follow us on" %}
               <a link="#79a3c0" href="http://vk.com/kinoweekend" target="_blank">{% trans "Vkontakte" %}</a> {% trans "and" %}
               <a href="http://www.facebook.com/groups/358970440812074/" target="_blank">Facebook</a>
           </strong></p>
       </footer>

    </div> <!-- /container -->



    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ STATIC_URL }}js/bootstrap.js"></script>
    {% block script %}{% endblock %}
  </body>
</html>
