{% extends 'simple.html' %}


{% block hero-unit %}
{% endblock %}

{% block body %}
<div class="my_view_content">
    <div class="article-header">
        <h3>{{ post.title }}</h3><span class="header-comment-count"> {{ post.publish_at }}</span>
    </div>
        {% if post %}
                <div class="article-description">
                        {% autoescape off %}
                            {{ post.body }}
                        {% endautoescape %}
                </div>
            <br>
        {% endif %}

            <ul class="pager">
        {% with post.get_previous_by_publish_at as prev %}
            {% if prev and prev.is_visible %}
              <li class="previous">
                  <a href="{{ prev.get_absolute_url }}" title="{{ prev }}" >&larr; Previous</a>
              </li>
            {% endif %}
        {% endwith %}
              <li>
                <a href="{% url news %}">Back to news list</a>
              </li>
        {% with post.get_next_by_publish_at as next %}
            {% if next and next.is_visible %}
                <li class="next">
                  <a href="{{ next.get_absolute_url }}" title="{{ next }}" >&rarr; Newer</a>
                </li>
            {% endif %}
        {% endwith %}
            </ul>
    </div>
{% endblock %}

